langchain
langchain_openai
python-dotenv
langchain_ollama
ollama
grandalf
langchain-text-splitters
langchain-community
pypdf
langchain-text-splitters
jq
unstructured[pdf, csv, txt, json, md]
langchain_google_genai
chromadb
faiss-cpu